.character-card {
    background: darkred;
    opacity: 0.7;
    color: white;
    margin: 1%;
    width: 48%;
    font-size: 1.3rem;
}

.columns {
    display: flex;
    justify-content: space-evenly;
}

.left-column {
    display: flex;
    flex-direction: column;
}

.right-column {
    display: flex;
    flex-direction: column;
}

.name {
    color: green;
}